
@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?uxesft');
  src:  url('icons/icomoon.eot?uxesft#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?uxesft') format('truetype'),
    url('icons/icomoon.woff?uxesft') format('woff'),
    url('icons/icomoon.svg?uxesft#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
