
.c-hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: $global-spacing-quaternary;
  padding-top: $global-spacing-tertiary;
  position: relative;
  text-align: center;

  @include mq($from: tablet) { min-height: 400px; }

  &--home {
    background-color: $colour-grey-300;
    background-image: url('./img/heros/hero-homepage-waves.webp');
    background-position: bottom;
    background-width: 100%;

    .no-webp & { background-image: url('./img/heros/hero-homepage-waves.png'); }
  }

  &--showcase {
    background-image: url('./img/heros/hero-sanctuary.webp');
    color: $colour-white-text;

    .no-webp & { background-image: url('./img/heros/hero-sanctuary.jpg'); }
  }
  &--zensation {
    background-image: url('./img/heros/hero-zensation.webp');
    color: $colour-white-text;

    .no-webp & { background-image: url('./img/heros/hero-zensation.jpg'); }
  }
  &--runaway {
    background-image: url('./img/heros/hero-runaway-pets.webp');

    .no-webp & { background-image: url('./img/heros/hero-runaway-pets.jpg'); }
  }
  &--mendr {
    background-image: url('./img/heros/hero-mendr.webp');

    .no-webp & { background-image: url('./img/heros/hero-mendr.jpg'); }
  }
  &--cooltrax-app {
    background-image: url('./img/heros/hero-cooltrax-app.webp');

    .no-webp & { background-image: url('./img/heros/hero-cooltrax-app.jpg'); }
  }
  &--sanctuary-app {
    background-image: url('./img/heros/hero-sanctuary-app.webp');
    color: $colour-white-text;

    .no-webp & { background-image: url('./img/heros/hero-sanctuary-app.jpg'); }
  }
  &--sanctuary {
    background-image: url('./img/heros/hero-sanctuary.webp');
    color: $colour-white-text;

    .no-webp & { background-image: url('./img/heros/hero-sanctuary.jpg'); }
  }

  .o-wrapper { width: 100%; }

  h1 { text-transform: uppercase; }

  // span {
  //   background: rgba($colour-white, .8);
  //   padding-left: $global-spacing-primary;
  //   padding-right: $global-spacing-primary;
  // }

}

