
.c-button {
  background: $colour-black;
  border-radius: 25px;
  color: $colour-white-text;
  display: inline-block;
  font-size: 12px;
  font-weight: $global-font-light;
  margin-bottom: $global-spacing-primary;
  padding: $global-spacing-primary $global-spacing-tertiary;
  text-decoration: none;
  text-transform: uppercase;
  transition: background .2s linear;

  &:hover { background: rgba($colour-black, .9); }


  & + & { margin-left: $global-spacing-primary; }

  &--white {
    background: $colour-white;
    color: $colour-black-text;

    &:hover { background: rgba($colour-white, .9); }
  }

}

