
.c-header {
  background: $colour-white;
  border-bottom: 1px solid $colour-black-dividers;
  padding: $global-spacing-tertiary 0;

  @include mq($from: tablet) { padding: 0; }

  .o-wrapper { position: relative; }

  &__logo {
    align-items: center;
    background: $colour-black;
    border-radius: 100%;
    bottom: 0;
    color: $colour-white-text;
    cursor: pointer;
    display: flex;
    font-weight: $global-font-medium;
    height: 50px;
    justify-content: center;
    left: $global-spacing-primary;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 50px;

    &:hover {
      span { transform: rotate(0deg); }
    }

    span {
      font-size: 20px;
      transform: rotate(-40deg);
      transition: transform .2s linear;
    }
  }


  &__icon {
    bottom: 0;
    cursor: pointer;
    height: 32px;
    margin-bottom: auto;
    margin-top: auto;
    padding: $global-spacing-secondary;
    position: absolute;
    right: $global-spacing-primary;
    top: 0;
    width: 32px;

    @include mq($from: tablet) { display: none; }
  }


  nav {
    background: $colour-white;
    box-shadow: 0 1px 1px -1px rgba($colour-black, .9);
    display: none;
    position: absolute;
    right: -100%;
    text-align: right;
    top: 32px;
    transition: right .2s linear;
    width: 100%;
    z-index: 9;

    &.active { display: block; }
    &.animate { right: 0; }

    @include mq($from: tablet) {
      background: none;
      box-shadow: none;
      display: inline-block;
      position: static;
    }
  }

  li,
  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mq($from: tablet) {
      display: inline-block;
    }
  }

  // li { display: inline-block; }

  li a {
    color: $colour-black-text;
    display: block;
    font-weight: $global-font-light;
    padding: $global-spacing-primary;
    position: relative;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    @include mq($from: tablet) {
      padding: $global-spacing-quaternary $global-spacing-primary;
      text-align: center;
    }

    &:hover {
      &::after {
        @include mq($from: tablet) {
          background: $colour-black-text;
        }
      }
    }

    &::after {
      bottom: -1px;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transition: background .2s linear;
    }
  }
}

