
.c-linebreak {
  background: $colour-black-dividers;
  display: block;
  margin: $global-spacing-quaternary auto;
  height: 2px;
  width: 125px;

  &::after {
    background: $colour-black-text;
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    margin: 0 auto;
  }
}

